/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}
.navbar-inverse{
	background-color: white;
	border-color: white;
	box-shadow: 2px 2px 2px rgba( 94, 94, 94, 0.425 );
}
.navbar-inverse .navbar-brand{
	color: black;
}
.navbar-inverse .navbar-brand:hover{
	color: #0298fc;
}
.navbar-inverse .navbar-nav>li>a{
	color: black;
	font-size: 1.5em;
	margin:30px;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #0298fc;
}
.navbar-inverse .navbar-nav>li>a:active{
	color: #0298fc;
}
.navbar-inverse .navbar-nav>li>a:visited{
	color: #0298fc;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}
.media{
	min-height: 140px;
}
.panel{
	min-height: 356px;
}
/* Footer Styles */

footer {
    margin: 50px 0;
	color: white;
}
.footer-overlay{
	background-color: #50b445;
	width: 100%;
	max-height: 200px;
	margin-top: 50px;
	box-shadow: 2px 0px 1rem #333;
}
/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}